
<aside class="aside aside-fixed">
    <div class="aside-header">
        <div class="aside-logo">
            <a href="#"><img class="logo" src="assets/img/logo.png" alt=""></a>
        </div>
        <!-- <a href="" class="aside-menu-link">
            <i data-feather="menu"></i>
            <i data-feather="x"></i>
        </a> -->
    </div>
    <div class="aside-body">
        <ul class="nav nav-aside">
            <!-- <li class="nav-label">Menu</li> -->
            <li class="nav-item active"><a href="#" class="nav-link"><i data-feather="home"></i> <span>Accueil</span></a></li>
            <li class="nav-label mg-t-25">La Gestion</li>
            <li class="nav-item"><a href="dashboard-two.html" class="nav-link"><i data-feather="file-text"></i> <span>Gestion des classes</span></a></li>
            <li class="nav-item with-sub">
                <a href="" class="nav-link"><i data-feather="user"></i> <span>Etudiants </span></a>
                <ul>
                    <li><a href="#">Liste des etudiants</a></li>
                    <li><a href="#">Gestion des parents</a></li>
                </ul>
            </li>
            <li class="nav-item"><a href="app-calendar.html" class="nav-link"><i data-feather="calendar"></i> <span>Calendrier</span></a></li>
            <li class="nav-item"><a href="app-chat.html" class="nav-link"><i data-feather="dollar-sign"></i> <span>Finance</span></a></li>
            <li class="nav-label mg-t-25">Configuration</li>
            <li class="nav-item"><a href="app-file-manager.html" class="nav-link"><i data-feather="file"></i> <span>Documuents</span></a></li>
            <li class="nav-item"><a href="page-team.html" class="nav-link"><i data-feather="user"></i> <span>Compte</span></a></li>

        </ul>
    </div>
</aside>

