<app-sidebar></app-sidebar>

<div class="row">
    <aside class="aside aside">
        <!-- <div class="aside-header"></div> -->
        <div class="aside-body"></div>
    </aside>
    <div class="content-body">
    <div class="container pd-x-0">
        <div class="row row-xs">
            <div class="col-xl-12 col-lg-12 col-md-12">
                <!-- <div class="row row-xs"> -->
                <!-- card-header -->
                <div class="d-sm-flex align-items-center justify-content-between mg-b-20 mg-lg-b-25 mg-xl-b-30">
                    <div>
                        <nav aria-label="breadcrumb">
                            <ol class="breadcrumb breadcrumb-style1 mg-b-10">
                                <li class="breadcrumb-item"><a href="#">Dashboard</a></li>
                                <li class="breadcrumb-item active" aria-current="page">liste des éléves</li>
                            </ol>
                        </nav>
                        <h4 class="mg-b-0 tx-spacing--1">Liste des éléves</h4>
                    </div>
                    <div class="d-none d-md-block">
                        <button class="btn btn-sm pd-x-15 btn-white btn-uppercase mg-l-5"><i data-feather="printer" class="wd-10 mg-r-5"></i> Imprimer</button>
                        <button class="btn btn-sm pd-x-15 btn-primary btn-uppercase mg-l-5"><i data-feather="user-plus" class="wd-10 mg-r-5"></i> Inscrire un éléve</button>
                        <!-- <a href="#modal4" data-toggle="modal" class="btn btn-sm pd-x-15 btn-primary btn-uppercase mg-l-5"><i data-feather="user-plus" class="wd-10 mg-r-5"></i> Inscrire un éléve</a> -->
                    </div>
                </div>
                <!-- </div> -->

                <div class="row row-xs">

                    <div class="col-sm-6 col-lg-4">
                        <div class="card card-body">
                            <h6 class="tx-uppercase tx-11 tx-spacing-1 tx-color-02 tx-semibold mg-b-8">Actif</h6>
                            <div class="d-flex d-lg-block d-xl-flex align-items-end">
                                <h3 class="tx-normal tx-rubik mg-b-0 mg-r-5 lh-1">{{ datas.actif }}</h3>
                                <!-- <p class="tx-11 tx-color-03 mg-b-0"><span class="tx-medium tx-success">1.2% <i class="icon ion-md-arrow-up"></i></span></p> -->
                                <div class="activity-icon bg-primary-light tx-primary">
                                    <i data-feather="folder"></i>
                                </div>
                            </div>
                            <div class="chart-three">
                                <div id="flotChart3" class="flot-chart ht-30"></div>
                            </div>

                            <!-- chart-three -->
                        </div>
                    </div>
                    <!-- col -->
                    <div class="col-sm-6 col-lg-4 mg-t-10 mg-sm-t-0">
                        <div class="card card-body">
                            <h6 class="tx-uppercase tx-11 tx-spacing-1 tx-color-02 tx-semibold mg-b-8">Inactif</h6>
                            <div class="d-flex d-lg-block d-xl-flex align-items-end">
                                <h3 class="tx-normal tx-rubik mg-b-0 mg-r-5 lh-1">{{ datas.inactif }}</h3>
                                <div class="activity-icon bg-primary-light tx-primary">
                                    <i data-feather="x-circle"></i>
                                </div>
                            </div>
                            <div class="chart-three">
                                <div id="flotChart4" class="flot-chart ht-30"></div>
                            </div>
                            <!-- chart-three -->
                        </div>
                    </div>
                    <!-- col -->
                    <div class="col-sm-6 col-lg-4 mg-t-10 mg-lg-t-0">
                        <div class="card card-body">
                            <h6 class="tx-uppercase tx-11 tx-spacing-1 tx-color-02 tx-semibold mg-b-8">Total</h6>
                            <div class="d-flex d-lg-block d-xl-flex align-items-end">
                                <h3 class="tx-normal tx-rubik mg-b-0 mg-r-5 lh-1">{{ datas.eleves.length }}</h3>
                                <div class="activity-icon bg-brand-02 tx-primary">
                                    <i data-feather="users"></i>
                                </div>
                            </div>
                            <div class="chart-three">
                                <div id="flotChart5" class="flot-chart ht-30"></div>
                            </div>
                            <!-- chart-three -->
                        </div>
                    </div>
                    <!-- col -->
                    <!-- TABLEAU-->
                    <div class="pd-t-30">
                        <table id="tableui" class="ui celled table" style="width:100%">
                            <thead>
                                <tr>
                                    <th>N°</th>
                                    <th>Matricule</th>
                                    <th>Nom</th>
                                    <th>Prénom</th>
                                    <th>Date de naissance</th>
                                    <th>Classe</th>
                                    <th>Status</th>
                                    <th>Action</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr *ngFor="let eleve of datas.eleves; let i = index" [attr.data-index]="i">
                                    <td>{{ i+1 }}</td>
                                    <td>{{ eleve.matricule }}</td>
                                    <td>{{ eleve.nom }}</td>
                                    <td>{{ eleve.prenom }}</td>
                                    <td>{{ eleve.dateNaissance }}</td>
                                    <td>{{ eleve.classe }}</td>
                                    <td>
                                        <span *ngIf="eleve.etat" class="badge badge-success">actif</span>
                                        <span *ngIf="!eleve.etat" class="badge badge-danger">inactif</span>
                                    </td>
                                    <td>
                                        <div class="dropdown dropright dropdown-link">
                                            <span type="button" id="dropleftMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                                <!-- <i data-feather="more-vertical"></i> -->
                                                <mat-icon aria-hidden="false" aria-label="Example more vert icon ">more_vert</mat-icon>
                                            </span>
                                            <div class="dropdown-menu" aria-labelledby="dropleftMenuButton">
                                                <ul>
                                                    <li><a href="/show-eleve/{{ eleve.id }}">Voir plus</a></li>
                                                    <li><a href="/edit-eleve/{{ eleve.id }}">Modifier</a></li>
                                                    <li>
                                                        <a *ngIf="eleve.etat" (click)="changeStatus(eleve.id)">Desactiver</a>
                                                        <a *ngIf="!eleve.etat" (click)="changeStatus(eleve.id)">Activer</a>
                                                    </li>
                                                    <li>
                                                        <a href="#"></a>
                                                    </li>
                                                </ul>
                                            </div>
                                        </div>
                                    </td>
                                </tr>
                                
                            </tbody>

                        </table>
                    </div>
                </div>
                <!-- END card -->
            </div>

        </div>
    </div>
        <!-- container -->

        <div class="modal fade" id="modal4" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel4" aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered modal-lg" role="document">
              <div class="modal-content tx-14">
                <div class="modal-header">
                  <h6 class="modal-title" id="exampleModalLabel4">Modal Title</h6>
                  <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                  </button>
                </div>
                <div class="modal-body">
                  <p class="mg-b-0">It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout. The point of using Lorem Ipsum is that it has a more-or-less normal distribution of letters, as opposed to using 'Content here, content here', making it look like readable English. </p>
                </div>
                <div class="modal-footer">
                  <button type="button" class="btn btn-secondary tx-13" data-dismiss="modal">Close</button>
                  <button type="button" class="btn btn-primary tx-13">Save changes</button>
                </div>
              </div>
            </div>
          </div>
        </div>

    <script type="text/javascript" src="assets/DataTables/DataTables-1.10.24/js/jquery.dataTables.min.js"></script>
    <script type="text/javascript" src="assets/js/settingsdatable.js"></script>
    <script type="text/javascript" src="assets/DataTables/DataTables-1.10.24/js/dataTables.semanticui.min.js"></script>
    <script type="text/javascript" src="assets/DataTables/SemanticUI-2.2.13/semantic.min.js"></script>
